<div class="task-schedule">
  <app-filter-panel [filterScheduleTypes]="filterScheduleTypes" (onChangeFilter)="onChangeFilter($event)" class="filter-panel"></app-filter-panel>
  <div class="schedule">    
    <div ngbDropdown class="header-button" [autoClose]="'outside'">
      <button type="button" class="button-pop pointer" id="dropdownBasic1" ngbDropdownToggle>
        <span class="pop-button-dot"></span>
        <span class="pop-button-dot"></span>
        <span class="pop-button-dot"></span>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item">Change Password</button>
        <button class="dropdown-item">Sign Out</button>
      </div>
    </div>
    <ngb-accordion #acc="ngbAccordion" class="schedule-list-accordion" *ngFor="let dataItem of schedules | groupBy:'scheduleDate'" (panelChange)="changeExpandedTask($event, dataItem)">
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <div class="schedule-title">
            {{dataItem.key}} <span class="chevron ngb-tp-chevron" [ngClass]="dataItem.isExpanded ? '' : 'bottom'"></span>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <div *ngFor="let subItem of dataItem.value" class="schedule-row" (mouseenter) ="subItem.isHover = true;"  (mouseleave) ="subItem.isHover = false;">
              <div class="schedule-name"> 
                <label (click)="onEditDescription($event, subItem)">
                  <input class="checkbox" type="checkbox" name="checkbox-test" [disabled]="true">
                  <span class="checkbox-custom"></span>
                </label>
                <span class="schedule-span-name">{{subItem.name}}</span>
              </div>
              <div class="description-schedule-text" *ngIf="!subItem.editDescription">{{subItem.description}}</div>
              <input type="text" class="description-schedule-text form-control" *ngIf="subItem.editDescription" placeholder="Enter description..." [(ngModel)]="subItem.description" />
              <div><i class="far fa-trash-alt trash-icon" [style.display]="subItem.isHover === true? 'flex':'none'" (click)="openConfirmDeleteDialog(confirmDelete, subItem.id)"></i></div>
              <!-- <i class="far fa-edit edit-icon" [style.display]="subItem.isHover === true? 'flex':'none'"></i> -->
              <div class="flex margin-top-20">
                  <div ngbDropdown #priorityDropdown="ngbDropdown" [autoClose]="'outside'">
                      <div class="flex priority-list-item">
                          <button id="priority" ngbDropdownToggle class="priority-dot margin-left-35" [ngClass]="subItem.priority.className"></button>
                          <span class="margin-left-10">{{subItem.priority.name}}</span>
                      </div>
                      <div ngbDropdownMenu aria-labelledby="priority">
                        <button class="dropdown-item" *ngFor="let item of scheduleTypes" (click)="onChangePriority(subItem, item); priorityDropdown.close()">
                            <div class="flex priority-list-item"><span class="priority-dot margin-right-10" [ngClass]="item.className"></span>{{item.filterText}}</div>
                          </button>
                      </div>
                    </div>
                <div ngbDropdown [autoClose]="'outside'" class="margin-left-60" (openChange)="onScheduleTimeChange($event, subItem)">
                  <button id="clock" ngbDropdownToggle class="clock"></button>
                  {{subItem.scheduleTime.hour}}:{{subItem.scheduleTime.minute}}
                  <div ngbDropdownMenu aria-labelledby="clock">
                    <ngb-timepicker [(ngModel)]="subItem.scheduleTime"></ngb-timepicker>
                  </div>
                </div>
                <div ngbDropdown class="margin-left-60">
                  <button id="notifications" ngbDropdownToggle class="alarm"></button>
                  {{subItem.notificationTime}}
                  <div ngbDropdownMenu aria-labelledby="notifications">
                    <button class="dropdown-item" *ngFor="let item of notificationArray" (click)="onChangeNotification(subItem, item)">{{item}}</button>
                  </div>
                </div>
              </div>  
              <hr class="margin-right-70">              
          </div>  
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
    <div class="footer">
      <input type="text" class="form-control task-input" placeholder="Enter task title..." [(ngModel)]="newSchedule.name">
      <div class="footer-actions">
          <div ngbDropdown #calendarDropdown="ngbDropdown" [autoClose]="'outside'">
              <button id="calendar" ngbDropdownToggle class="calendar"></button>
              <div ngbDropdownMenu aria-labelledby="calendar">
                  <ngb-datepicker #dp [showWeekdays]="false" [navigation]="arrows" [(ngModel)]="newSchedule.scheduleDateTime" (select)="calendarDropdown.close()"></ngb-datepicker>
              </div>
            </div>
        <div ngbDropdown [autoClose]="'outside'" (openChange)="onScheduleTimeChange($event, null)">
          <button id="clock" ngbDropdownToggle class="clock margin-left-35"></button>
          <div ngbDropdownMenu aria-labelledby="clock">
            <ngb-timepicker [(ngModel)]="newSchedule.scheduleTime"></ngb-timepicker>
          </div>
        </div>
        <div ngbDropdown>
          <button id="notifications" ngbDropdownToggle class="alarm margin-left-35"></button>
          <div ngbDropdownMenu aria-labelledby="notifications">
            <button class="dropdown-item" *ngFor="let item of notificationArray" (click)="onChangeNotification(null, item)">{{item}}</button>
          </div>
        </div>
        <div ngbDropdown #priorityDropdownForNew="ngbDropdown" [autoClose]="'outside'">
          <button id="priority" ngbDropdownToggle class="priority-dot margin-left-35"></button>
          <div ngbDropdownMenu aria-labelledby="priority">
            <button class="dropdown-item" *ngFor="let item of scheduleTypes" (click)="onChangePriority(null, item); priorityDropdownForNew.close()">
                <div class="flex priority-list-item"><span class="priority-dot margin-right-10" [ngClass]="item.className"></span>{{item.filterText}}</div>
              </button>
          </div>
        </div>
        <div class="btn-group btn-group-toggle">            
            <label class="btn-send" ngbButtonLabel>
              <input type="checkbox" ngbButton (click)='addSchedule()'> Send
            </label>
        </div>
    </div>
  </div>
</div>
</div>
<ng-template #confirmDelete let-modal>
    <div class="modal-body">
        <div class="form-group confirm-content">
          <label class="confirm-content-text">Are you sure you want to delete the task?</label>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn delete-button" (click)="modal.close('Delete')">Delete</button>
      <button type="button" class="btn cancel-button" (click)="modal.close('Cancel')">Cancel</button>
    </div>
  </ng-template>
  <ngb-alert *ngIf="notificationMessage" [type]="notificationType" (close)="notificationMessage = null">{{ notificationMessage }}</ngb-alert>
  <app-websocket-notification [webSocketNotificationShow]="webSocketNotificationShow" [webSocketNotificationSchedule]="webSocketNotificationSchedule" (onChangeSchedule)="onChangeNotification($event, $event.notificationTime)" (onEndSchedule)="removeSchedule($event)"></app-websocket-notification>
 