@import '../../../fonts/Comfortaa.font.css';
@import '../../../fonts/SF.font.css';



.pop-button-dot {
  height: 5px;
  width: 5px;
  background-color: white;
  border-radius: 50%;
  display: block;
}

.pop-button-dot:nth-child(2){
  margin-bottom: 4px;
  margin-top: 4px;
}

.schedule {
  display: flex;
  flex-direction: column;
  flex: 80%;
}

.form-control:focus {
  box-shadow: none;
  border-color: #2F80ED;
  border-bottom-width: 2px;
}

.form-control:focus::placeholder {
  color: #2F80ED;
}



.alarm {
  background-image: url('../../../../../icons/svg/ic_alarm_sm.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  background-color: white;
  border: 0;
  cursor: pointer;
}

.flex {
  display: flex;
}

.margin-top-20 {
  margin-top: 20px;
}

.footer-actions {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.alarm:focus {
  outline: none;
  background-image: url('../../../../../icons/svg/ic_alarm_sm_focus.svg');
}

.clock {
  background-image: url('../../../../../icons/svg/ic_clock_sm.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  background-color: white;
  border: 0;
  cursor: pointer;
}

.btn-send {
  color: #2F80ED;
  background-color: white;
  font-family: "San Francisco";
  font-size: 16px;
}

.btn-send:focus {
  outline: none;
  box-shadow: none;
}

.btn-send.btn.focus {
  outline: none;
  box-shadow: none;
}

.btn-send.btn.focus.active {
  outline: none;
  box-shadow: none;
}

.btn-group {
  justify-content: flex-end;
  width: 100%;
}

.btn-group:focus {
  outline: none;
}


.margin-left-35 {
  margin-left: 35px;
}

.priority-dot {
  width: 12px;
  height: 12px;  
  border-radius: 50%;
  display: block;
  border:0;
  cursor: pointer;
}

ngb-datepicker {
  margin-top: -9px;
  margin-bottom: -9px;
  margin-right: -1px;
  margin-left: -1px;
}

.clock:focus {
  outline: none;
  background-image: url('../../../../../icons/svg/ic_clock_sm_focus.svg');  
}

.calendar {
  background-image: url('../../../../../icons/svg/ic_calendar.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  background-color: white;
  border: 0;
  cursor: pointer;
}

.filter-panel {
  background: linear-gradient(to bottom, #2F80ED,#56CCF2);
  display: flex;
  flex-direction: column;
  flex: 5%;  
  width: 100%;
}

.calendar:focus {
  outline: none;
  background-image: url('../../../../../icons/svg/ic_calendar_focus.svg');  
}

.filter-item-text {
  font-family: "San Francisco";
  font-size: 16px;
}

.dropdown-item {
  font-family: "San Francisco";
  font-size: 12px;
}



.pointer {
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: column;
  bottom: 10px;
  margin-left: 65px;
  margin-top: 40px;
  margin-right: 30px;
}

.task-input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}

.task-input::placeholder {
  font-size: 16px;
  font-family: "San Francisco";
  color: #BBBBC7;
}

.delete-button {
  color: white;
  background: linear-gradient(to left, #2F80ED,#56CCF2);
  border: 0;
  width: 160px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.alert {
  position: fixed;
  right: 5px;
  top: 5px;
}

.confirm-content-text {
    font-size: 16px;
    font-weight: 500;
    font-family: "San Francisco";
}

.confirm-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.margin-left-10 {
  margin-left: 10px;
}

.modal-content {
  border: 0;
}

.modal-dialog {
  top: 30%;
}

.modal-footer {
  justify-content: center;
  border-top: 0;
}

.cancel-button {
  
  background-color: white;
  color: #BBBBC7;
  border-color: #BBBBC7;
  width: 160px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.button-pop {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  border: 0;
  background: linear-gradient(to bottom, #2F80ED,#56CCF2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 26px;
}

.button-pop:focus {
  outline: none;
}

.header-button {
  display: flex;
  justify-content: flex-end;
}

.dropdown-toggle::after {
  display: none;
}

.schedule-title {
  color: #BBBBC7;
  font-family: "San Francisco";
  font-size: 20px;
}

.schedule-title:focus {
  outline: none;
}



.card-header {
  background-color: white !important;
}


.schedule-row {
  cursor: pointer;   
  margin-top: 20px;
}

.trash-icon {
  color: #F24A3C;
  font-size: 25px;  
  justify-content: flex-end;
  margin-right: 100px;
  display: flex;
  margin-top: -25px;
  max-width: 50px;
  float: right;
}

.edit-icon {
  color: #2F80ED;
  font-size: 25px;  
  justify-content: flex-end;
  margin-right: 140px;
  display: flex;
  margin-top: -25px;
}

.checkbox {
  display: none;
}

.schedule-span-name {
  margin-left: 17px;
}

.checkbox-custom {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 3px;
}

.checkbox-custom,
.label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.checkbox:checked + .checkbox-custom::before {
  content: "";
  display: block;
  position: absolute;

  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background: #428cca;
  border-radius: 2px;
}

.description-schedule-text {
  color: #BBBBC7;
  font-family: "San Francisco";
  font-size: 16px;    
  margin-left: 37px;
  width: 320px;
}

.schedule-name {
  font-family: "San Francisco";
  font-size: 16px;  
}

.margin-left-60 {
  margin-left: 60px;
}

.margin-right-70 {
  margin-right: 70px;
}

.margin-right-10 {
  margin-right: 10px;
}

.priority-list-item {
  align-items: center;
}

.task-schedule {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

a:not([href]):not([tabindex]) {
  color: white;
  cursor: pointer;
}

.urgently-priority-dot {
  background-color: #F24A3C;
}

.important-priority-dot {
  background-color: #F7C920;
}

.normal-priority-dot {
  background-color: #56CCF2;
}

.neutral-priority-dot {
  background-color: #BBBBC7;
}

.chevron.ngb-tp-chevron::before {
  border-width: 2px 2px 0 0;
  height: 13px;
  width: 14px;
  margin-left: 10px;
}

.chevron.ngb-tp-chevron.bottom::before {
  border-width: 2px 2px 0 0;
  height: 13px;
  width: 14px;
  margin-left: 10px;
}

input.description-schedule-text{
  border: 0;
  border-radius: 0;
}