.alert {
    position: fixed;
    right: 5px;
    top: 5px;
    width: 440px;
    height: 110px;
  }

  .alert-custom {
    box-shadow: 0 0 10px #777D9B;
    background-color: white;
  }

  .button-container {
    border-color: rgba(0,0,0,.1);
    border-width: 0px 0px 0px 1px;
    border-style: solid;
    margin-top: -13px;
    margin-right: 0px;
    padding-bottom: 18px;
  }

  .text-container {
    flex: 100;
  }

  .done-button {
    margin-top: 5px;
    margin-left: 17px;
  }

  .later-button {
    margin-top: 13px;
    background-color: white;
    margin-left: 0px;
    border:0;
    border-top: 1px solid rgba(0,0,0,.1);
    box-sizing: content-box;
    width: 74px;
    border-radius: 0;
  }

  .later-button::after {
      display: none;
  }

  .description-schedule-text {
    color: #BBBBC7;
    font-family: "San Francisco";
    font-size: 16px;
    width: 320px;
  }

  .dropdown-item {
    font-family: "San Francisco";
    font-size: 12px;
  }

  .flex-center {
    display: flex;
    align-items: center;
  }

  .notification-container {
      display: flex;
  }

  .urgently-priority-dot {
    background-color: #F24A3C;
  }
  
  .important-priority-dot {
    background-color: #F7C920;
  }
  
  .normal-priority-dot {
    background-color: #56CCF2;
  }
  
  .neutral-priority-dot {
    background-color: #BBBBC7;
  }

  .priority-dot {
    width: 12px;
    height: 12px;  
    border-radius: 50%;
    display: block;
    border:0;
    cursor: pointer;
  }

  .margin-left-35 {
    margin-left: 35px;
  }

  .margin-left-10 {
    margin-left: 10px;
  }

  .margin-left-60 {
    margin-left: 60px;
  }