<ngb-alert *ngIf="webSocketNotificationShow" type="custom" (close)="webSocketNotificationShow = false" [dismissible]="false">
    <div class="notification-container">
      <div class="text-container">
          <div>
              <div class="flex-center priority-list-item">
                  <span class="priority-dot" [ngClass]="webSocketNotificationSchedule.priority!.className"></span>
                  <span class="margin-left-10">{{webSocketNotificationSchedule.scheduleTime.hour}}:{{webSocketNotificationSchedule.scheduleTime.minute}}</span>
              </div>              
          </div>
          <div>
              {{webSocketNotificationSchedule.name}}
          </div>
          <div class="description-schedule-text">
              {{webSocketNotificationSchedule.description}}
          </div>
      </div>
      <div class="button-container">
          <div class="done-button">
              <div class="btn-group btn-group-toggle">            
                <label class="btn-send" ngbButtonLabel>
                  <input type="checkbox" ngbButton (click)="doneSchedule()"/>Done
                </label>
             </div>
          </div>
          <div ngbDropdown>
              <button class="btn later-button" id="notifications" ngbDropdownToggle>Later</button>              
              <div ngbDropdownMenu aria-labelledby="notifications">
                <button class="dropdown-item" *ngFor="let item of notificationArray" (click)="onChangeScheduleNotification(item)">{{item}}</button>
              </div>
          </div>            
      </div>
    </div>
</ngb-alert>