/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

.card {
  background-color: transparent;
  border: 0;
}

.card-header:first-child {
  border: 0;
  padding: 0;
  background-color: transparent;
}

.card-body {
  padding: 0;
}

.form-control:focus {
  box-shadow: none;
}

.btn-link:hover{
  text-decoration: none;
}

.schedule-list-accordion
{
  .card {          
    margin-top: 40px;     
    margin-left: 50px;  
  }   
}

.dropdown-item:active {
  background-color: #2F80ED;
}

.ngb-tp-input {
  border: 0;
  text-decoration: underline;
  text-decoration-color: #2F80ED;
}

.card-header{
  .btn-link {
  color: transparent;
  outline: none;
}
}

.dropdown-menu.show { 
  .ngb-tp-input-container.ngb-tp-hour {
    margin-left: 7px;

    .btn.btn-link {
      color: grey;

      .chevron.ngb-tp-chevron::before {
        transform: none;
        background-image: url('../../icons/svg/ic_arrow_up_grey.svg');
        background-repeat: no-repeat;
        border: 0;
      }

      .chevron.ngb-tp-chevron.bottom::before {
        transform: none;
        background-image: url('../../icons/svg/ic_arrow_down_grey.svg');
        background-repeat: no-repeat;
        border: 0;
      }
    }
  }

  .ngb-tp-input-container.ngb-tp-minute{
    .btn.btn-link {
      color: grey;

      .chevron.ngb-tp-chevron::before {
        transform: none;
        background-image: url('../../icons/svg/ic_arrow_up_grey.svg');
        background-repeat: no-repeat;
        border: 0;
      }

      .chevron.ngb-tp-chevron.bottom::before {
        transform: none;
        background-image: url('../../icons/svg/ic_arrow_down_grey.svg');
        background-repeat: no-repeat;
        border: 0;
      }
    }
  }
}
          
