

  .logo-text {
    margin-left: 28px;
    color: white;
    font-size: 25px;
    font-family: Comfortaa;
    font-weight: bold;
  }

  .filter-title {
    color: white;
    margin-left: 15px;
    font-size: 20px;
    font-family: "San Francisco";
    margin-top: 20px;
    margin-bottom: 8px;
  }

  .dots {
    display: flex;
    margin-top: 30px;
    margin-left: 80px;
  }
  
  .first-dot {
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    display: block;
  }
  
  .second-dot {
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    display: block;
    margin-top: -6px;
    margin-left: 5px;
  }
  
  .third-dot {
    height: 7px;
    width: 7px;
    background-color: white;
    border-radius: 50%;
    display: block;
    margin-left: 5px;
  }
  
  .fourth-dot {
    height: 4px;
    width: 4px;
    background-color: white;
    border-radius: 50%;
    display: block;
    margin-top: 12px;
    margin-left: 5px;
  }

  a:not([href]):not([tabindex]) {
    color: white;
    cursor: pointer;
  }
  a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: white;
    cursor: pointer;
    background-color: transparent;
  }
  
  .list-group-item {
    background-color: transparent;
    border: 0;
    margin-left: 28px;
    padding-left: 0;
  }
  
  .list-group-item.active {
    background-color: transparent;
    border-color: transparent;
    text-decoration: underline;
    text-decoration-color: white;
  }
  
  .list-group-item.active:hover {
    background-color: transparent;
    border-color: transparent;
    text-decoration: underline;
    text-decoration-color: white;
  }

  .chevron.ngb-tp-chevron::before {
      border-width: 2px 2px 0 0;
      height: 13px;
      width: 14px;
      margin-left: 10px;
  }

  .chevron.ngb-tp-chevron.bottom::before {
      border-width: 2px 2px 0 0;
      height: 13px;
      width: 14px;
      margin-left: 10px;
  }