<div>
    <div class="logo">
      <div class="dots">
        <span class="first-dot"></span>
        <span class="second-dot"></span>
        <span class="third-dot"></span>
        <span class="fourth-dot"></span>
      </div>
      <div class="logo-text">
        JustDo
      </div>
    </div>

    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" (panelChange)="changeExpandedFilterPanel($event)">
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <div class="filter-title">
            Priority <span class="chevron ngb-tp-chevron" [ngClass]="isExpanded ? '' : 'bottom'"></span>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="list-group" *ngFor="let item of filterScheduleTypes">
            <a class="list-group-item list-group-item-action" (click)="onChangeFilterPriority(item)" [ngClass]="item.filterIsActive ? 'active' : ''">
              {{item.filterText}}
            </a>            
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>